//base
body {
    box-sizing: border-box;
}

//typography
body {
    font-family: 'Roboto', serif;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
}

//header  
header {
    display: flex;
    justify-content: center;
}