.menu-page-header {
    display: flex;    
    align-items: center;
    padding: 1rem;
    &__heading {
        margin: auto;
    }
    &__link {
        margin-left: 5%;
        color: black;        
        &:active, &:visited {
            text-decoration: none;
            color: inherit;
        }                
    }
}

.restaurant {
    &__image {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    &__heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem 2rem 0 0rem;
        background-color: lighten($bg-color, 15);
        padding: 1rem;
        position: relative;
        bottom: 2rem;
        margin-bottom: -2rem;      
    }
    &__heading {
        font-family: 'Shrikhand', serif;
    }
    &__icon {
        @include favorite-icon;
        position: absolute;
        left: 85%;
        opacity: 1;
        transition: opacity 250ms;
        &:active, &:hover {
            opacity: 0;
        }

    }
    &__icon-color {
        @include favorite-icon-color;
        position: absolute;
        left: 85%;
        opacity: 0;
        transition: opacity 250ms;
        &:active, &:hover {
            opacity: 1;
        }      
    }

}

.menu-catalog {
    background-color: lighten($bg-color, 15);
    padding-bottom: 2.5rem;
    &__heading {
        margin: 0 .8rem;
        font-weight: 400;
        background-image: linear-gradient($tertiary-color,$tertiary-color);
        background-position: bottom left;
        background-size: 12% 2px;
        background-repeat: no-repeat;
        padding-bottom: 4px;
    }
}

.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.menu {
    flex-basis: 95%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    animation: menus $anim-dur backwards ease-in-out;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    &:hover {
        & > .menu__icon-wrapper {
            animation: menu-icon-wrapper 1000ms forwards;
        }
        & .menu__icon {
            animation: menu-icon 800ms 200ms ;
        }
        & .menu__byline ,.menu__price {
            animation: menu-text-indent 1000ms forwards ;
        }
    }

    &:not(:hover) {
        & .menu__byline ,.menu__price {
        animation: menu-text-indent-wayback 750ms ease-out ;
        }

        & .menu__icon-wrapper {
            animation: menu-icon-wrapper-wayback 750ms ease-out ;
        }
    }
    &__content {
        flex-grow: 3;
        padding: .8rem;
    }
    &__heading {
        margin: .2rem 0;
    }
    &__text-wrapper {
        display: flex;
        justify-content: space-between;
    }   
    &__price {
        font-weight: 800;
    }
    &__icon-wrapper {
        background-color: $tertiary-color;
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 100%;
        border-radius: 0rem 1rem 1rem 0rem;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100px); 
    }
    &__icon {
        display: block;
        color: white;
    }
}


@keyframes menus { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }    
}


@keyframes menu-icon-wrapper-wayback {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}


@keyframes menu-text-indent-wayback {
    from {
        text-indent: -100px;
    }
    to {
        text-indent: 0;
    }
}

@keyframes menu-text-indent {
    from {
        text-indent: 0;
    }
    to {
        text-indent: -100px;
    }
}



@keyframes menu-icon-wrapper {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes menu-icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }    
}