$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #CCC;


$phone: "\f3cd";
$list: "\f0ca";
$store: "\f54e";
$heart: "\f08a";
$utensils: "\f2e7";
$hands: "\f4c4";
$arrow-left: "\f060";
$check: "\f058";

$anim-dur: 1000ms;
$anim-delay: 200ms;
